/*notmuchhere*/

html {
	font-family: verdana, sans-serif;
	font-size: 0.8em;
}

body {
	width: 90%;
	margin: 3% auto;
}

table {
	font-size: 1em;
	
	border: 1px solid #000;
	border-collapse: collapse;
}

table td, table th {
	padding: 3px;

	border: 1px solid #000;
}

table th {
	font-weight: normal;
	background: #eee;
}

table.schedule td, table.schedule th {
	width: 9%;
	text-align: center;
	vertical-align: top;
}

table tr.row-highlight {
	background: #f6f6f6;
}

h1, h2, h3 {
	margin-top: 1.5em;
	font-family: Trebuchet MS;
	font-weight: normal;
	letter-spacing: 2px; 
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 140%;
}

.note {
	padding: 1em;
	border: 1px solid yellow;
	background: #ffffd2;
}
